#home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
}

#home-container div.infos {
  max-width: 40%;
  text-align: start;
}

#home-container div.infos h1 {
  font-size: 55px;
  font-weight: 700;
  font-family: 'Sriracha', cursive;
  text-transform: uppercase;
}

#home-container div.infos h3 {
  margin-bottom: 45px;
}

#home-container div.infos button {
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #59ABE3;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

#home-container div.infos button div {
  background-color: #3498DB;
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0px 0px 5px;
}

#home-container div.infos button p {
  padding: 0px 50px;
  font-size: 18px;
}

#home-container div.image {
  max-width: 60%;
  padding-left: 30px;
}

#home-container div.image img {
  /* object-fit: contain; */
  width: 100%;
}