#project-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vh;
}

#project-container .background-image {
  position: fixed;
  width: 800px;
  margin-top: 25vh;
  margin-left: 25vw;
  transform: rotate(-15deg);
  z-index: -1;
  opacity: 0.025;
  overflow-y: none;
}

#project-container form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#project-container form input {
  width: 60%;
  padding: 13px;
  border-radius: 5px;
  border: none;
  background-color: #F0F0F5;
  font-size: 16px;
}

#project-container div.projects {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}


@media (max-width: 1024px) {
  #project-container {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  #project-container form input {
    width: 80%;
  }

  #project-container div.projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  #project-container div.projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  #project-container {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
  }
  
  #project-container form input {
    width: 100%;
  }

  #project-container div.projects {
    grid-template-columns: 1fr !important;
  }
}